<robot name="obj_10" version="1.0">
  <link name="obj_10">
    <collision name="interlocking-puzzle-6-1-collision.001">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.59086 0.72984 0.31793"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-6-1-collision.001.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-6-1-collision.002">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.40840 0.69445 0.30920"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-6-1-collision.002.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-6-1-collision.003">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.25212 0.72975 0.31079"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-6-1-collision.003.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00058" ixy="-0.00000" ixz="0.00000" iyy="0.00472" iyz="-0.00000" izz="0.00478"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.41719 0.72434 0.31793"/>
      <mass value="0.03000"/>
    </inertial>
    <visual name="interlocking-puzzle-6-1">
      <material name="Light Blue"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.41719 0.74944 0.31793"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-6.obj" scale="0.01049 0.01049 0.01049"/>
      </geometry>
    </visual>
  </link>
  <material name="Light Blue">
    <color rgba="0.15294 0.68627 0.80000 1.00000"/>
  </material>
</robot>