<robot name="obj_3" version="1.0">
  <link name="obj_3">
    <collision name="interlocking-puzzle-2-1-collision.001">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.41015 0.75889 0.23863"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-2-1-collision.001.obj" scale="2.09740 2.08327 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-2-1-collision.002">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.41015 0.22855 0.23862"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-2-1-collision.002.obj" scale="2.09740 2.08387 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-2-1-collision.003">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.41729 0.44640 0.20677"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-2-1-collision.003.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00526" ixy="0.00000" ixz="-0.00000" iyy="0.00055" iyz="-0.00000" izz="0.00518"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.41731 0.49367 0.21495"/>
      <mass value="0.03000"/>
    </inertial>
    <visual name="interlocking-puzzle-2-1">
      <material name="Light Blue"/>
      <origin rpy="1.57080 0.00000 -1.57080" xyz="-0.41731 0.49367 0.25831"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-2.obj" scale="0.01049 0.01049 0.01049"/>
      </geometry>
    </visual>
  </link>
  <material name="Light Blue">
    <color rgba="0.15294 0.68627 0.80000 1.00000"/>
  </material>
</robot>