<robot name="obj_1" version="1.0">
  <link name="obj_1_link">
    <collision name="obj_1_collision_1">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.99986 3.00249 0.36746"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.002.obj" scale="1.00000 0.98000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_1_collision_2">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-1.00029 3.00249 3.38262"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.003.obj" scale="1.00000 0.98000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_1_collision_3">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.99964 3.19009 1.87370"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.004.obj" scale="2.00000 6.08000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="6.65506" ixy="0.00000" ixz="0.00000" iyy="0.48424" iyz="-0.00000" izz="6.58953"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.00000 3.08500 1.87500"/>
      <mass value="5.00000"/>
    </inertial>
    <visual name="obj_1">
      <material name="turnaxis"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="-1.00000 3.08500 1.87500"/>
      <geometry>
        <mesh filename="../meshes/obj/luban-lock-sliding.obj" scale="0.05000 0.05000 0.05000"/>
      </geometry>
    </visual>
  </link>
  <material name="turnaxis">
    <color rgba="0.63922 0.70196 1.00000 1.00000"/>
  </material>
</robot>