<robot name="obj_4" version="1.0">
  <link name="obj_4">
    <collision name="obj_4.001">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_0.006.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.002">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_1.005.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.003">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_2.005.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.004">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_3.005.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.005">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_4.005.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.006">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_5.004.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.007">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_6.004.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.008">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_7.004.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.009">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_8.003.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.010">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_9.002.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.011">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_10.005.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.012">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_11.005.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.013">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_12.004.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.014">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_13.004.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.015">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_14.004.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.016">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_15.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.017">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_16.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_4.018">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_17.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00023" ixy="-0.00000" ixz="-0.00000" iyy="0.00002" iyz="0.00000" izz="0.00023"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="0.01000"/>
    </inertial>
    <visual name="obj_4_vis">
      <material name="turnarrow_yellow"/>
      <origin rpy="1.57080 0.00000 1.57080" xyz="-0.31086 0.25043 0.25278"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_1_LUBAANSUO2.stp.003.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </visual>
  </link>
  <material name="turnarrow_yellow">
    <color rgba="0.87059 0.77255 0.05098 1.00000"/>
  </material>
</robot>