<robot name="obj_6" version="1.0">
  <link name="obj_6_link">
    <collision name="obj_6-collision.001">
      <origin rpy="-1.57080 0.00000 -1.57080" xyz="-0.60316 0.39335 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.001.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.002">
      <origin rpy="-1.57080 0.00000 -2.35619" xyz="-0.60691 0.33460 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.002.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.003">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.66566 0.33085 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.003.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.004">
      <origin rpy="1.57080 0.00000 -0.78540" xyz="-0.72441 0.33460 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.004.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.005">
      <origin rpy="1.57080 0.00000 -2.35619" xyz="-0.72441 0.45210 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.005.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.006">
      <origin rpy="-1.57080 1.57080 0.00000" xyz="-0.66566 0.45585 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.006.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.007">
      <origin rpy="-1.57080 0.00000 -0.78540" xyz="-0.60691 0.45210 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.007.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.008">
      <origin rpy="-3.14159 -0.78540 -0.00000" xyz="-0.60691 0.39335 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.008.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.009">
      <origin rpy="2.35619 0.00000 -0.00000" xyz="-0.66566 0.33460 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.009.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.010">
      <origin rpy="-3.14159 0.78540 0.00000" xyz="-0.72441 0.39335 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.010.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.011">
      <origin rpy="-2.35619 0.00000 -0.00000" xyz="-0.66566 0.45210 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.011.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.012">
      <origin rpy="-3.14159 0.00000 -0.00000" xyz="-0.66566 0.39335 0.00393"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.012.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.013">
      <origin rpy="-0.00000 -0.78540 -3.14159" xyz="-0.60691 0.39335 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.013.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.014">
      <origin rpy="-0.78540 -0.00000 3.14159" xyz="-0.66566 0.33450 0.12529"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.014.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.015">
      <origin rpy="-0.00000 0.78540 3.14159" xyz="-0.72441 0.39335 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.015.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.016">
      <origin rpy="0.78540 -0.00000 3.14159" xyz="-0.66566 0.45210 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.016.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.017">
      <origin rpy="-2.35619 0.00000 -0.00000" xyz="-0.66566 0.45210 0.13268"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.017.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.018">
      <origin rpy="-3.14159 0.78540 0.00000" xyz="-0.72441 0.39335 0.13268"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.018.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.019">
      <origin rpy="2.35619 0.00000 -0.00000" xyz="-0.66566 0.33460 0.13268"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.019.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.020">
      <origin rpy="-3.14159 -0.78540 -0.00000" xyz="-0.60691 0.39335 0.13268"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.020.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.021">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.66566 0.33085 0.19143"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.021.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.022">
      <origin rpy="1.57080 0.00000 -0.78540" xyz="-0.72441 0.33460 0.19143"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.022.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.023">
      <origin rpy="1.57080 0.00000 -1.57080" xyz="-0.72816 0.39335 0.19143"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.023.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.024">
      <origin rpy="-2.35619 1.57080 0.00000" xyz="-0.72441 0.45210 0.19143"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.024.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.025">
      <origin rpy="-1.57080 1.57080 0.00000" xyz="-0.66566 0.45585 0.19143"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.025.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.026">
      <origin rpy="-1.57080 0.00000 -0.78540" xyz="-0.60691 0.45210 0.19143"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.026.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.027">
      <origin rpy="-1.57080 0.00000 -1.57080" xyz="-0.60316 0.39335 0.19143"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.027.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.028">
      <origin rpy="-1.57080 0.00000 -2.35619" xyz="-0.60691 0.33460 0.19143"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.028.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.029">
      <origin rpy="-0.78540 -0.00000 3.14159" xyz="-0.66566 0.33460 0.25018"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.029.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.030">
      <origin rpy="-0.00000 0.78540 3.14159" xyz="-0.72441 0.39335 0.25018"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.030.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.031">
      <origin rpy="-0.78540 -0.00000 -0.00000" xyz="-0.66566 0.45210 0.25018"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.031.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.032">
      <origin rpy="-0.00000 -0.78540 -3.14159" xyz="-0.60691 0.39335 0.25018"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.032.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.033">
      <origin rpy="-0.00000 -0.00000 3.14159" xyz="-0.66566 0.39335 0.25393"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.033.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.034">
      <origin rpy="-0.00000 -0.00000 3.14159" xyz="-0.79066 0.39335 0.12893"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.034.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.035">
      <origin rpy="-0.78540 -0.00000 3.14159" xyz="-0.79066 0.33460 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.035.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.036">
      <origin rpy="-0.00000 -0.78540 -3.14159" xyz="-0.73191 0.39335 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.036.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.037">
      <origin rpy="0.78540 -0.00000 3.14159" xyz="-0.79066 0.45210 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.037.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.038">
      <origin rpy="-0.00000 0.78540 3.14159" xyz="-0.84941 0.39335 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.038.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.039">
      <origin rpy="-1.57080 1.57080 0.00000" xyz="-0.79066 0.45585 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.039.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.040">
      <origin rpy="-1.57080 0.00000 -0.78540" xyz="-0.73191 0.45210 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.040.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.041">
      <origin rpy="1.57080 0.00000 -2.35619" xyz="-0.84941 0.45210 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.041.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.042">
      <origin rpy="1.57080 0.00000 -1.57080" xyz="-0.85316 0.39335 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.042.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.043">
      <origin rpy="1.57080 0.00000 -0.78540" xyz="-0.84941 0.33460 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.043.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.044">
      <origin rpy="-1.57080 0.00000 -2.35619" xyz="-0.73191 0.33460 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.044.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.045">
      <origin rpy="2.35619 0.00000 -0.00000" xyz="-0.79066 0.33460 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.045.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.046">
      <origin rpy="-3.14159 0.78540 0.00000" xyz="-0.84941 0.39335 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.046.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.047">
      <origin rpy="-2.35619 0.00000 -0.00000" xyz="-0.79066 0.45210 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.047.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.048">
      <origin rpy="-3.14159 -0.78540 -0.00000" xyz="-0.73191 0.39335 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.048.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.049">
      <origin rpy="3.14159 0.00000 -1.57080" xyz="-0.79066 0.39335 0.00393"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.049.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.050">
      <origin rpy="-3.14159 0.00000 -0.00000" xyz="-0.79066 0.26835 0.00393"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.050.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.051">
      <origin rpy="-3.14159 0.78540 0.00000" xyz="-0.84941 0.26835 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.051.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.052">
      <origin rpy="-2.35619 0.00000 -0.00000" xyz="-0.79066 0.32710 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.052.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.053">
      <origin rpy="-3.14159 -0.78540 -0.00000" xyz="-0.73191 0.26835 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.053.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.054">
      <origin rpy="-3.14159 0.78540 1.57080" xyz="-0.79066 0.20960 0.00768"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.054.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.055">
      <origin rpy="-2.35619 -1.57080 -0.00000" xyz="-0.73191 0.32710 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.055.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.056">
      <origin rpy="1.57080 -0.00000 1.57080" xyz="-0.72816 0.26835 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.056.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.057">
      <origin rpy="0.78540 1.57080 -0.00000" xyz="-0.73191 0.20960 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.057.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.058">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.79066 0.20585 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.058.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.059">
      <origin rpy="1.57080 0.00000 -0.78540" xyz="-0.84941 0.20960 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.059.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.060">
      <origin rpy="-1.57080 -0.00000 1.57080" xyz="-0.85316 0.26835 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.060.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.061">
      <origin rpy="1.57080 0.00000 -2.35619" xyz="-0.84941 0.32710 0.06643"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.061.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.062">
      <origin rpy="-0.00000 0.78540 3.14159" xyz="-0.84941 0.26835 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.062.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.063">
      <origin rpy="0.78540 -0.00000 3.14159" xyz="-0.79066 0.32710 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.063.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.064">
      <origin rpy="-0.00000 -0.78540 -3.14159" xyz="-0.73191 0.26835 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.064.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.065">
      <origin rpy="-0.78540 -0.00000 3.14159" xyz="-0.79066 0.20960 0.12518"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.065.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.066">
      <origin rpy="-0.00000 -0.00000 3.14159" xyz="-0.79066 0.26835 0.12893"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.066.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.067">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.067.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.068">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.068.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.069">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.069.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.070">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.070.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.071">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.071.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.072">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.072.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.073">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.073.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.074">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.074.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.075">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.075.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.076">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.076.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.077">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.077.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.078">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.078.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.079">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.079.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.080">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.080.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.081">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.081.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.082">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.082.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.083">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.083.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.084">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.084.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.085">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.085.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.086">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.086.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.087">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.087.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.088">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.088.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.089">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.089.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.090">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.090.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.091">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.091.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.092">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.092.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.093">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.093.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.094">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.094.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.095">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.095.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.096">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.096.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.097">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.097.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <collision name="obj_6-collision.098">
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_6-collision.098.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00042" ixy="-0.00010" ixz="-0.00010" iyy="0.00047" iyz="-0.00005" izz="0.00047"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.72816 0.36210 0.09768"/>
      <mass value="0.05000"/>
    </inertial>
    <visual name="obj_6">
      <material name="turnarrow_vermillion"/>
      <origin rpy="1.57080 -1.57080 -0.00000" xyz="-0.72816 0.36062 0.09917"/>
      <geometry>
        <mesh filename="../meshes/obj/bt_cube3x3_bricks.005.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </visual>
  </link>
  <material name="turnarrow_vermillion">
    <color rgba="0.66275 0.10980 0.00000 1.00000"/>
  </material>
</robot>