<robot name="obj_7" version="1.0">
  <link name="obj_7">
    <collision name="interlocking-puzzle-4-1-collision.001">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.64691 0.50143 0.48399"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-4-1-collision.001.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-4-1-collision.002">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.61436 0.53398 0.31890"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-4-1-collision.002.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-4-1-collision.003">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.64691 0.50143 0.15375"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-4-1-collision.003.obj" scale="2.09740 2.09740 2.08690"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00492" ixy="-0.00001" ixz="0.00000" iyy="0.00492" iyz="0.00000" izz="0.00051"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.65123 0.49711 0.31885"/>
      <mass value="0.03000"/>
    </inertial>
    <visual name="interlocking-puzzle-4-1">
      <material name="Light Blue"/>
      <origin rpy="1.57080 -1.57080 0.00000" xyz="-0.65404 0.49430 0.31885"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-4.obj" scale="0.01049 0.01049 0.01049"/>
      </geometry>
    </visual>
  </link>
  <material name="Light Blue">
    <color rgba="0.15294 0.68627 0.80000 1.00000"/>
  </material>
</robot>