<robot name="obj_6" version="1.0">
  <link name="obj_6">
    <collision name="interlocking-puzzle-3-2-collision.001">
      <origin rpy="-1.57080 -0.00000 -1.57080" xyz="-0.53530 0.49373 0.12163"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.009.obj" scale="2.08149 2.09740 2.06120"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-3-2-collision.002">
      <origin rpy="1.57080 -1.57080 0.00000" xyz="-0.53530 0.53424 0.31789"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.010.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-3-2-collision.003">
      <origin rpy="1.57080 -1.57080 0.00000" xyz="-0.45664 0.53424 0.31885"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.011.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-3-2-collision.004">
      <origin rpy="-1.57080 -0.00000 -1.57080" xyz="-0.53530 0.49433 0.51489"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.012.obj" scale="2.09740 2.07769 2.06120"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-3-2-collision.005">
      <origin rpy="-1.57080 1.57080 0.00000" xyz="-0.45664 0.49433 0.59473"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.013.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <collision name="interlocking-puzzle-3-2-collision.006">
      <origin rpy="-1.57080 1.57080 0.00000" xyz="-0.45645 0.49433 0.04298"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.014.obj" scale="2.09740 2.09740 2.09740"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00515" ixy="-0.00000" ixz="0.00000" iyy="0.00517" iyz="0.00000" izz="0.00049"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.51154 0.50217 0.31885"/>
      <mass value="0.03000"/>
    </inertial>
    <visual name="interlocking-puzzle-3-2">
      <material name="Light Blue"/>
      <origin rpy="1.57080 1.57080 0.00000" xyz="-0.48529 0.49456 0.31885"/>
      <geometry>
        <mesh filename="../meshes/obj/interlocking-puzzle-3.003.obj" scale="0.01049 0.01049 0.01049"/>
      </geometry>
    </visual>
  </link>
  <material name="Light Blue">
    <color rgba="0.15294 0.68627 0.80000 1.00000"/>
  </material>
</robot>