<robot name="obj_8" version="1.0">
  <link name="obj_8_link">
    <collision name="obj_8-collision.001">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.001.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.002">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.002.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.003">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.003.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.004">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.004.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.005">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.005.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.006">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.006.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.007">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.007.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.008">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.008.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.009">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.009.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.010">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.010.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.011">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.011.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.012">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.012.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.013">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.013.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.014">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.014.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.015">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.015.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.016">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.016.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.017">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.017.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.018">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.018.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.019">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.019.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.020">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.020.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.021">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.021.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.022">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.022.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.023">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.023.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.024">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.024.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.025">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.025.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.026">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.026.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.027">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.027.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.028">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.028.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.029">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.029.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.030">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.030.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.031">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.031.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.032">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.032.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.033">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.033.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_8-collision.034">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_8-collision.034.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.03529" ixy="-0.00001" ixz="0.00018" iyy="0.03529" iyz="0.00028" izz="0.03155"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.29227 0.66649 0.14818"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="obj_8">
      <material name="turnarrow_medium_gray"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.29408 0.66932 0.07707"/>
      <geometry>
        <mesh filename="../meshes/obj/bt_cube3x3_box.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </visual>
  </link>
  <material name="turnarrow_medium_gray">
    <color rgba="0.21176 0.21176 0.21176 1.00000"/>
  </material>
</robot>