<robot name="obj_2" version="1.0">
  <link name="obj_2">
    <collision name="obj_2.001">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_0.003.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.002">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_1.003.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.003">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_2.003.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.004">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_3.003.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.005">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_4.003.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.006">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_5.002.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.007">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_6.002.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.008">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_7.002.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.009">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_8.001.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.010">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_9.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.011">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_10.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.012">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_11.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.013">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_12.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.014">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_13.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_2.015">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/geometry_14.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00023" ixy="-0.00000" ixz="-0.00000" iyy="0.00023" iyz="-0.00000" izz="0.00002"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="0.01000"/>
    </inertial>
    <visual name="obj_2_vis">
      <material name="turnarrow_skyblue"/>
      <origin rpy="-3.14159 -1.57080 0.00000" xyz="-0.26242 0.20250 0.26750"/>
      <geometry>
        <mesh filename="../meshes/obj/obj_1_LUBAANSUO2.stp.001.obj" scale="0.00500 0.00500 0.00500"/>
      </geometry>
    </visual>
  </link>
  <material name="turnarrow_skyblue">
    <color rgba="0.09020 0.45490 0.81176 1.00000"/>
  </material>
</robot>