<robot name="obj_11" version="1.0">
  <link name="obj_11_link">
    <collision name="obj_11_collision_1">
      <origin rpy="3.14159 1.57080 3.14159" xyz="-2.12749 0.74246 1.51073"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.032.obj" scale="1.00000 0.98000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_11_collision_2">
      <origin rpy="3.14159 1.57080 3.14159" xyz="-2.12749 3.75762 1.51116"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.033.obj" scale="1.00000 0.98000 1.00000"/>
      </geometry>
    </collision>
    <collision name="obj_11_collision_3">
      <origin rpy="3.14159 1.57080 3.14159" xyz="-2.31509 2.24870 1.51051"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.034.obj" scale="2.00000 6.08000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="6.65506" ixy="0.00000" ixz="-0.00000" iyy="0.48424" iyz="-0.00000" izz="6.58953"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-2.21000 2.25000 1.51000"/>
      <mass value="5.00000"/>
    </inertial>
    <visual name="obj_11">
      <material name="turnaxis"/>
      <origin rpy="3.14159 1.57080 3.14159" xyz="-2.21000 2.25000 1.51000"/>
      <geometry>
        <mesh filename="../meshes/obj/luban-lock-sliding.010.obj" scale="0.05000 0.05000 0.05000"/>
      </geometry>
    </visual>
  </link>
  <material name="turnaxis">
    <color rgba="0.63922 0.70196 1.00000 1.00000"/>
  </material>
</robot>