<robot name="obj_1" version="1.0">
  <link name="link_piece_1">
    <collision name="piece_1-collision.001">
      <origin rpy="3.14159 -1.57080 0.00000" xyz="-0.15224 0.42227 0.40337"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.001.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.002">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.23129 0.50132 0.40337"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.002.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.003">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.31034 0.42227 0.40337"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.003.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.004">
      <origin rpy="-3.14159 -0.00000 -1.57080" xyz="-0.23129 0.42227 0.32432"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.004.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.005">
      <origin rpy="3.14159 -1.57080 0.00000" xyz="-0.15342 0.50381 0.71549"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.005.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.006">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.47323 0.82362 0.71549"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.006.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.007">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.79304 0.50381 0.71549"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.007.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.008">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.47323 0.18400 0.71549"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.008.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.009">
      <origin rpy="0.00000 0.00000 -1.57080" xyz="-0.62783 0.73866 0.80045"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.009.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.010">
      <origin rpy="0.00000 -0.00000 -1.57080" xyz="-0.62783 0.43540 0.80045"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.010.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.011">
      <origin rpy="-0.00000 0.00000 -1.57080" xyz="-0.32456 0.73866 0.80045"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.011.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.012">
      <origin rpy="0.00000 0.00000 -1.57080" xyz="-0.23849 0.43540 0.80045"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.012.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.013">
      <origin rpy="0.00000 0.00000 -1.57080" xyz="-0.39309 0.26896 0.80045"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.013.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.014">
      <origin rpy="1.57080 0.00000 0.78477" xyz="-0.15578 0.18636 0.71549"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.014.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.015">
      <origin rpy="1.57080 0.00000 2.35676" xyz="-0.15578 0.82126 0.71549"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.015.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.016">
      <origin rpy="-2.35619 1.57080 0.00000" xyz="-0.79068 0.82126 0.71549"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.016.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.017">
      <origin rpy="1.57080 -0.00000 -0.78533" xyz="-0.79068 0.18636 0.71549"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.017.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.018">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.79264 0.74457 0.39883"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.018.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.019">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.79264 0.57813 0.08735"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.019.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.020">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.79264 0.26305 0.33042"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.020.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.021">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.31232 0.34210 0.23837"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.021.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.022">
      <origin rpy="1.57080 -0.00000 -3.14159" xyz="-0.23206 0.34210 0.32112"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.022.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.023">
      <origin rpy="0.00000 -0.00000 -1.57080" xyz="-0.38900 0.26305 0.32099"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.023.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.024">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.47162 0.26305 0.23837"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.024.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.025">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.31111 0.26305 0.48145"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.025.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.026">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.23206 0.34210 0.56050"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.026.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.027">
      <origin rpy="0.00000 -0.00000 -1.57080" xyz="-0.23129 0.42227 0.48242"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.027.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.028">
      <origin rpy="3.14159 -1.57080 0.00000" xyz="-0.15301 0.26305 0.39883"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.028.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.029">
      <origin rpy="3.14159 -1.57080 0.00000" xyz="-0.15301 0.42949 0.08735"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.029.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.030">
      <origin rpy="3.14159 -1.57080 0.00000" xyz="-0.15301 0.74457 0.33042"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.030.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.031">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.23206 0.82362 0.39883"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.031.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.032">
      <origin rpy="1.57080 -0.00000 3.14159" xyz="-0.39851 0.82362 0.08735"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.032.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.033">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.71359 0.82362 0.33042"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.033.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.034">
      <origin rpy="0.00000 0.00000 -1.57080" xyz="-0.71359 0.50381 0.16048"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.034.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.035">
      <origin rpy="0.00000 -0.00000 -1.57080" xyz="-0.55308 0.26305 0.16048"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.035.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.036">
      <origin rpy="0.00000 0.00000 -1.57080" xyz="-0.47283 0.74457 0.16048"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.036.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.037">
      <origin rpy="-0.00000 -0.00000 1.57080" xyz="-0.31232 0.50618 0.16048"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.037.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.038">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.55308 0.34210 0.08143"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.038.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.039">
      <origin rpy="3.14159 -1.57080 0.00000" xyz="-0.63454 0.50381 0.08143"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.039.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.040">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.55308 0.66552 0.08143"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.040.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.041">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.47162 0.50381 0.08143"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.041.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.042">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.31232 0.18400 0.16760"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.042.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.043">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.23206 0.18400 0.47909"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.043.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.044">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.62740 0.18400 0.08735"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.044.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.045">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.71282 0.18400 0.39888"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.045.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.046">
      <origin rpy="-3.14159 -0.00000 -1.57080" xyz="-0.70768 0.26896 0.00238"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.046.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.047">
      <origin rpy="3.14159 -0.00000 -1.57080" xyz="-0.70768 0.57222 0.00238"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.047.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.048">
      <origin rpy="3.14159 0.00000 -1.57080" xyz="-0.40442 0.73866 0.00238"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.048.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.049">
      <origin rpy="-3.14159 0.00000 -1.57080" xyz="-0.31823 0.43540 0.00238"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.049.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.050">
      <origin rpy="-3.14159 -0.00000 -1.57080" xyz="-0.55308 0.26896 0.00238"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.050.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.051">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.39297 0.34210 0.72140"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.051.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.052">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.31152 0.50381 0.72140"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.052.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.053">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.39297 0.66552 0.72140"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.053.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.054">
      <origin rpy="-0.00000 1.57080 0.00000" xyz="-0.47443 0.50381 0.72140"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.054.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.055">
      <origin rpy="3.14159 0.00000 -1.57080" xyz="-0.39514 0.26305 0.64213"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.055.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.056">
      <origin rpy="-3.14159 -0.00000 -1.57080" xyz="-0.55685 0.50381 0.64235"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.056.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.057">
      <origin rpy="-3.14159 -0.00000 -1.57080" xyz="-0.39514 0.74457 0.64191"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.057.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.058">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.71359 0.66552 0.40120"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.058.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.059">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.23206 0.66552 0.40120"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.059.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.060">
      <origin rpy="3.14159 1.57080 0.00000" xyz="-0.31111 0.74457 0.40120"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.060.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.061">
      <origin rpy="1.57080 0.00000 -3.14159" xyz="-0.71359 0.34210 0.40120"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.061.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.062">
      <origin rpy="3.14159 -1.57080 0.00000" xyz="-0.63454 0.26305 0.40120"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.062.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.063">
      <origin rpy="-3.14159 0.00000 -1.57080" xyz="-0.71127 0.50376 0.64191"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.063.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.064">
      <origin rpy="3.14159 -1.57080 0.00000" xyz="-0.63454 0.74457 0.40120"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.064.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.065">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.065.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.066">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.066.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.067">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.067.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.068">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.068.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.069">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.069.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.070">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.070.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.071">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.071.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.072">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.072.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.073">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.073.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.074">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.074.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.075">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.075.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.076">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.076.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.077">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.077.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.078">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.078.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.079">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.079.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.080">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.080.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.081">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.081.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.082">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.082.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.083">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.083.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.084">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.084.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.085">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.085.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.086">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.086.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.087">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.087.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.088">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.088.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.089">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.089.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.090">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.090.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.091">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.091.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.092">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.092.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.093">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.093.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.094">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.094.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.095">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.095.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.096">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.096.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.097">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.097.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.098">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.098.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.099">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.099.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.100">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.100.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.101">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.101.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.102">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.102.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.103">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.103.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.104">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.104.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.105">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.105.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.106">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.106.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.107">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.107.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.108">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.108.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.109">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.109.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.110">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.110.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.111">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.111.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.112">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.112.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.113">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.113.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.114">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.114.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.115">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.115.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.116">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.116.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.117">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.117.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.118">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.118.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.119">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.119.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.120">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.120.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.121">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.121.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.122">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.122.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.123">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.123.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.124">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.124.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.125">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.125.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.126">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.126.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.127">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.127.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.128">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.128.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.129">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.129.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.130">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.130.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.131">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.131.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.132">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.132.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.133">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.133.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.134">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.134.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.135">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.135.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.136">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.136.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.137">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.137.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.138">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.138.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.139">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.139.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.140">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.140.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.141">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.141.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.142">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.142.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.143">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.143.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.144">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.144.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.145">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.145.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.146">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.146.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.147">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.147.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.148">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.148.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.149">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.149.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.150">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.150.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.151">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.151.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.152">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.152.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.153">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/piece_1-collision.153.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </collision>
    <collision name="piece_1-collision.154">
      <origin rpy="-3.14159 -0.00000 -1.57080" xyz="-0.23206 0.50381 0.64191"/>
      <geometry>
        <mesh filename="../meshes/obj/Cube.698.obj" scale="2.67513 2.67513 2.67513"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.06241" ixy="0.00282" ixz="0.00117" iyy="0.04400" iyz="-0.00733" izz="0.05154"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.46552 0.49662 0.39650"/>
      <mass value="0.50000"/>
    </inertial>
    <visual name="piece_1">
      <material name="turnarrow"/>
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.22733 0.33776 0.37979"/>
      <geometry>
        <mesh filename="../meshes/obj/001.obj" scale="0.01338 0.01338 0.01338"/>
      </geometry>
    </visual>
  </link>
  <material name="turnarrow">
    <color rgba="0.53725 0.80000 0.76078 1.00000"/>
  </material>
</robot>